<h1>Go Live</h1>
<p>In diesem Moment werden an alle Schüler in der Tabelle Students Mails verschickt, die auf Ratsmash hinweisen und darauf aufmerksam machen, dass sie dort ab sofort registriert sind!</p>