%p
  %b Eingereicht von:
  = @child_pic.sender.name

%p= link_to "Download", @child_pic.new_url, download: File.basename(@child_pic.new_url)

%p
  = image_tag @child_pic.new_url

= link_to 'Alle Bilder', child_pics_path
