- if !mobile_device?
	#icon_info_box

	%h1 Liste der Kriterien
	%br
	%br
	%table
		%tr
			%th
				.cat_info_box Sch체ler
			%th
				.cat_info_box Lehrer

		- (0..[@student_categories.count, @teacher_categories.count].max).each do |i|
			%tr
			- [@student_categories[i], @teacher_categories[i]].each do |category|
				- next unless category
				- if category.group.male && category.group.female
					%td= link_to category.name + (@complete_voted_categories.include?(category.id) ? " (gevotet)" : ""), give_vote_path(category.id)
				- else
					%td= link_to category.name + (category.group.male ? " (m채nnlich)" : " (weiblich)") + (@complete_voted_categories.include?(category.id) ? " (gevotet)" : ""), give_vote_path(category.id)

- else
	#icon_info_box

	%h1 Liste der Kriterien
	%br
	%br
	%table
		%tr
			%th
				.cat_info_box Sch체ler
			%th
				.cat_info_box Lehrer

		- (0..[@student_categories.count, @teacher_categories.count].max).each do |i|
			%tr
			- [@student_categories[i], @teacher_categories[i]].each do |category|
				- next unless category
				- if category.group.male && category.group.female
					%td= link_to category.name + (@complete_voted_categories.include?(category.id) ? " (gevotet)" : ""), give_vote_path(category.id)
				- else
					%td= link_to category.name + (category.group.male ? " (m채nnlich)" : " (weiblich)") + (@complete_voted_categories.include?(category.id) ? " (gevotet)" : ""), give_vote_path(category.id)
