%h2 Ergebnisse

%table
	%thead
		%tr
			%th Gruppe
			%th Kategorie
			%th 1. Platz
			%th 2. Platz
			%th 3. Platz

	%tbody
		- @results.each do |result|
			%tr
				%td= Group.find_by_id(Category.find_by_id(result[:category_id]).group_id).name
				%td= Category.find_by_id(result[:category_id]).name
				- result[:ranking].each do |voted|
					%td= voted["name"] + " (" + voted["points"].to_s + ")"

