<h1>Ergebnisse</h1>
<div style="width: 100%;overflow: auto;">
	<table class="ui-responsive" data-role="table" data-mode="columntoggle" data-column-btn-text="Spalten" data-column-btn-theme="b" id="results_table">
		<thead>
			<tr>
				<th data-priority="3">Gruppe</th>
				<th data-priority="1">Kategorie</th>
				<th data-priority="2">1. Platz</th>
				<th data-priority="4">2. Platz</th>
				<th data-priority="5">3. Platz</th>
			</tr>
		</thead>
		<tbody>
			<% @results.each do |result| %>
				<tr>
					<td><%= Group.find_by_id(Category.find_by_id(result[:category_id]).group_id).name %></td>
					<td><%= Category.find_by_id(result[:category_id]).name %>(<%= Category.find_by_id(result[:category_id]).id %>)</td>
					<% i = 0 %>
					<% result[:ranking].each do |voted| %>
						<td><%= voted["name"] + " (" + voted["points"].to_s + ")" %></td>
						<% i = i + 1 %>
					<% end %>
					<% if i < 3 %>
						<% (3-i).times do %>
							<td>kein Voting vorhanden</td>
						<% end %>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>