<% if @current_user %>
<p style="font-style: italic; margin: 0px; margin-top: 30px;"><%= @current_user.name %></p>
<p style="margin-top: 30px; margin: 0px;"><%= link_to "Logout", :logout %></p>
<% end %>