%h1= @poll.name
%h2= @poll.question
- if @poll.closed
	%h2(style="color:green;") Umfrage beendet!

%h2 Votingmöglichkeiten
%ul
  %table
    - @poll.options.each do |option|
      %tr
        %td= option.name
        %td= link_to "Abstimmen", vote_poll_path(option_id: option.id)
