<!DOCTYPE html>
<html>
    <head>
   		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
    	<h1>Kontaktformular gesendet</h1>
    	<table>
    		<tr>
    			<td>Von: </td>
    			<td><%= @name %></td>
    		</tr>
    		<tr>
    			<td>Betreff: </td>
    			<td><%= @subject %></td>
    		</tr>
    		<tr>
    			<td>Nachricht: </td>
    			<td><%= @message %></td>
    		</tr>
    	</table>
    </body>
</html>