/*
 * libraries
 *= require jquery-ui/autocomplete
 *= require jquery-ui-flick
 *= require dataTables/jquery.dataTables
 *= require voting
*/
li{
	list-style: none;
}
h1{
	text-align: center;
}
h2 a{
	text-decoration: none;
}
h2 a:hover{
	text-decoration: underline;
}
#newsticker{
	background: white;
	padding: 10px;
	width: 100%;
}
#newsticker ul li{
	list-style: none;
	display: none;
}
#newsticker ul li:first-child{
	display: block;
}
#newsticker .ticker_date{
	color: gray;
	font-size: 16px;
	text-decoration: none;
	margin-right: 20px;
}
#newsticker .ticker_subject a{
	color: black;
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
}
#newsticker .ticker_subject a:hover{
	text-decoration: underline;
}
#newsticker #news_points_wrapper{
	margin: 0 auto;
	margin-top: 10px;
	padding-bottom: 10px;
	width: 100px;
}
#newsticker #news_points_wrapper{
	margin-top: 10px;
}
#newsticker #news_points_wrapper div{
	float: left;
	background: gray;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}
#newsticker #news_points_wrapper div:first-child{
	background: black;
}
#newsticker #news_points_wrapper div:hover{
	background: black;
}
.device_error{
	margin: 20px;
	padding: 10px;
	color: white;
	font-size: 24px;
	font-weight: bold;
	background: red;
}
/* display error messages under menue bar */
#error_messages{
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	background: rgba(255,0,0,1);
	box-shadow: 1px 1px 2px 1px gray;
}
#error_messages p{
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 3%;
	margin-right: 3%;
	color: white;
}

/* display success messages under menue bar */
#success_messages{
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	background: rgba(0,100,0,1);
	box-shadow: 1px 1px 2px 1px gray;
}
#success_messages p{
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 3%;
	margin-right: 3%;
	color: white;
}
.important_note{
	margin: 20px 0;
}
.important_note h2{
	color: red;
}